<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= store.name %> </title>
    <link rel="stylesheet" href="stores">
    <%- include('../partials/styles') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div>
    <h1><%= store.name %></h1>
    <small id="storeInfo" class="text-muted">
        <a href="#">Click for store info!</a>
    </small>
    </div>
    <h3 class="text-right">By: <%= store.owner %> </h3>
    <h3>Contact email: <%= store.email %> </h3>
    <a href="/stores">Back to all stores</a>
    <a href="/stores/<%= store._id %>/product/new">Add a product</a>
    <h2>PRODUCTS</h2>
    <ul>
        <% for(let product of store.products) {%> 
        <li> <a href="/products/<%= product._id %> "><%= product.name %></a> </li> 
        <% } %> 
    </ul>
    <form method="POST" action="/stores/<%= store._id %>?_method=DELETE" >
        <button>Delete</button>
    </form>
    <%- include('../partials/footes') %>
</body>
</html>