<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="/css/products.css">
    <%- include('../partials/styles') %> 
</head>
<body>
    <%- include('../partials/nav') %>
    <h4 class="tiles text-center"><strong>SEARCH RESULTS</strong></h4>
    <section>
    <div class="resultados container-fluid">
        <div class="caja row">
            <div class="filtro col-2">
                <h5><strong>Order by: </strong></h5>
                <form action="/search" method="post">
                <label for="price">Price</label>
                <input type="radio" name="filter">
                <br>
                <label for="price">Reviews</label>
                <input type="radio" name="filter">
                <br>
                <label for="price">Sold units</label>
                <input type="radio" name="filter">
                <br>
                <label for="price">Shop reviews</label>
                <input type="radio" name="filter">
                <br>
                <button class="btn btn-dark nav-link disabled">FILTER</button>
                </form>
            </div> 
            <div class="ajustes col-10">
                <% let counter = 1; %> 
                <% for(product of allProduct){ %>
                    <% if(counter<17){ %> 
                        <div class="product">
                            <div class="card" style="width: 8.4rem;">
                                <a href="/products/<%= product._id %> "><img class="card-img-top" src="/fonts/ordenador2.jpg" alt="productPic"></a>
                                <div class="card-body">
                                    <h5 class="card-title"><%= product.name %></h5>
                                    <p class="card-text"><%= product.price %>€</p>
                                </div>
                            </div>
                        </div>
                    <% counter++; %> 
                    <% } %> 
                <% } %>
            </div>
        </div>
    </div>
    </section>
     <div class="pageSwitch">
        <nav aria-label="Page navigation" >
            <ul class="pagination ">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="/search">1</a></li>
              <li class="page-item"><a class="page-link" href="/search/page2">2</a></li>
              <li class="page-item"><a class="page-link" href="/search/page3">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>  
    </div> 
    <%- include('../partials/footes') %> 
</body>
</html>